@import "tailwindcss";

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  @keyframes marquee {
    0%, 15% {
      transform: translateX(0);
    }
    85%, 100% {
      transform: translateX(calc(-50% - 1rem));
    }
  }

  .animate-marquee {
    animation: marquee 12s linear infinite;
  }
}
